@import "src/styles/variables.scss";

.footer {
  padding: 40px 40px;
  background-color: $primary-color;
  color: $white-color;

  .content {
    margin: 0 auto;
    max-width: 1720px;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .copyright {
      color: var(--grey-primary-color);
      font-size: 16px;
      margin-top: 5px;
    }
  }
}
