@import "src/styles/variables.scss";

.modalWrapper {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  .modalBackdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black-color-opacity70;
  }

  .modalContent {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    max-width: 90%;
    max-height: 90%;

    .modalBaseCloseBtn {
      color: $primary-color-opacity70;
      position: absolute;
      right: 40px;
      top: 40px;
    }

    .text {
      display: block;
    }

    .icon {
      display: none;
    }
  }
}

@media (max-width: 990px) {
  .modalWrapper {
    .modalContent {
      max-width: unset;
      max-height: unset;
      border-radius: unset;
    }
  }
}

@media (max-width: 768px) {
  .modalWrapper {
    .modalContent {
      .text {
        display: none;
      }

      .icon {
        display: block;
      }
    }
  }
}

@media (max-width: 525px) {
  .modalWrapper {
    .modalContent {
      .modalBaseCloseBtn {
        top: 25px;
        right: 20px;
      }
    }
  }
}
