@import "src/styles/variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: $primary-color;
}

a {
  white-space: nowrap;
  text-decoration: none;
  color: $white-color;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: 600;
}

h1,
h2 {
  font-weight: 600;
}

h2 {
  font-size: 50px;
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

section {
  padding: 120px 0;
}

.contacts {
  max-width: 255px;
  font-size: 30px;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.swiper-button-prev,
.swiper-button-next {
  bottom: 0;
  top: unset;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $primary-color;
}

.swiper-button-next {
  right: 13px;
}

.swiper-button-prev {
  left: unset;
  right: 57px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
  color: $white-color;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 360px;
  background-color: $primary-color-opacity8;
}

.swiper-scrollbar-drag {
  width: 260px;
  background-color: $primary-color;
}
