@import "src/styles/variables.scss";

.button {
  border: none;
  padding: 25px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  font: inherit;
  color: inherit;
  transition: background-color 0.3s ease;
  background-color: $accent-color;
}

.button:hover {
  background-color: $accent-color-hover;
}
