@import "src/styles/variables.scss";

.button {
  border: none;
  padding: 25px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  font: inherit;
  color: $white-color;
  transition: background-color 0.3s ease;
  background-color: $accent-color;

  &:hover {
    background-color: $accent-color-hover;
  }
}

.link {
  color: $accent-color;
  background-color: unset;
  padding: unset;

  &:hover {
    color: $accent-color-hover;
    background-color: unset;
  }
}

.dark {
  background-color: $primary-color;
  line-height: 1.445;

  &:hover {
    background-color: $button-dark-hover;
  }
}
