@import "src/styles/variables.scss";

.coaches {
  padding-bottom: 0;
  position: relative;

  .slider {
    display: flex;
    height: 746px;
    margin-top: 60px;

    .item {
      flex-basis: 360px;
      flex-grow: 1;
      flex-shrink: 0;

      .photo {
        width: 100%;
        height: auto;
        border-radius: 20px;
      }

      .itemTitle {
        font-size: 24px;
        margin-top: 20px;
      }

      .jobtitle {
        color: $primary-color-opacity70;
        margin-top: 10px;
      }

      .button {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .coaches {
    .title {
      font-size: 30px;
      text-align: center;
      line-height: 1.4;
    }

    .slider {
      .itemTitle {
        font-size: 20px;
        line-height: 1.4;
      }

      .jobtitle {
        font-size: 14px;
      }

      .button {
        font-size: 16px;
      }
    }
  }
}
