@import "src/styles/variables.scss";

.modalContent {
  width: 940px;
  padding: 40px;
}

.profile {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  .img {
    flex-basis: 160px;
    width: 160px;
    height: auto;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .name {
        font-size: 24px;
      }

      .jobtitle {
        color: $primary-color-opacity70;
      }

      .links {
        display: flex;
        gap: 7px;

        .link {
          transition: transform 0.3s ease;

          &:hover {
            transform: translateY(-2px);
          }
        }
      }
    }

    .closeButton {
      color: $primary-color-opacity70;
    }

    .closeButtonIcon {
      display: none;
    }
  }
}

.dropdown {
  display: none;
  margin-top: 20px;
}

.tabs {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: $grey-border;

  .tabWrapper {
    flex-basis: 33%;

    .tab {
      padding: 20px 0;

      .tabButton {
        color: $primary-color-opacity70;

        &:hover {
          color: $accent-color;
        }
      }

      .activeTab {
        color: $accent-color;
      }
    }
  }
}

.tabContent {
  height: 350px;
  overflow-y: auto;
}

@media (max-width: 990px) {
  .modalContent {
    width: 100vw;
    height: 100dvh;

    .tabContent {
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .dropdown {
    display: block;
  }

  .tabs {
    display: none;
    .tabWrapper {
      flex-basis: unset;
    }
  }

  .profile {
    .img {
      flex-basis: 120px;
      width: 120px;
      height: 100%;
    }
  }
}

@media (max-width: 525px) {
  .modalContent {
    padding: 20px;

    .profile {
      gap: 10px;

      .img {
        width: 60px;
        height: auto;
        flex-basis: 60px;
      }
      .content {
        gap: unset;

        .info {
          gap: unset;

          .name {
            font-size: 16px;
          }

          .jobtitle {
            margin-top: 5px;
            font-size: 12px;
            line-height: 16.8px;
          }

          .links {
            margin-top: 10px;
            gap: 5px;
          }
        }
      }
    }
  }
}
