@import "src/styles/variables.scss";

.wrapper {
  position: fixed;
  width: 100vw;
  height: 100dvh;
}

.backdrop {
  width: 100vw;
  height: 100dvh;
}

.modal {
  position: fixed;
  padding: 40px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 20px;
  width: 940px;
  max-width: 90%;
  max-height: 90%;
  background-color: $white-color;

  .profile {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    .img {
      flex-basis: 160px;
      width: 160px;
      height: auto;
    }

    .content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .name {
          font-size: 24px;
        }

        .jobtitle {
          color: $primary-color-opacity70;
        }

        .links {
          display: flex;
          gap: 10px;

          .link {
            transition: transform 0.3s ease;

            &:hover {
              transform: translateY(-2px);
            }
          }
        }
      }

      .closeButton {
        color: $primary-color-opacity70;
      }

      .closeButtonIcon {
        display: none;
      }
    }
  }

  .tabs {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid $grey-line-color;

    .tabWrapper {
      flex-basis: 33%;

      .tab {
        padding: 20px 0;
      }
    }
  }

  .tabContent {
    height: 350px;
    overflow-y: auto;

    .tabText {
      .description {
        margin-top: 20px;
        font-size: 20px;
      }

      .tabTitle {
        margin-top: 40px;
        font-size: 24px;
      }
    }
  }
}
