@import "src/styles/variables.scss";

.promo {
  height: calc(100dvh - 108px);
  background-color: $primary-color;
  color: $white-color;
  position: relative;
  overflow: hidden;
  padding: 0;
  max-height: 972px;

  .wrapper {
    margin-top: 22%;

    .text {
      .title {
        font-size: 70px;
      }

      .subtitle {
        font-size: 20px;
        max-width: 478px;
        margin-top: 20px;
      }
    }

    .button {
      margin-top: 50px;
    }

    .img {
      position: absolute;
      left: 48%;
      width: 783px;
      height: auto;
      top: 54px;
    }
  }
}
