@import "src/styles/variables.scss";

.text {
  font-size: 30px;
}

.wrapper {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  justify-content: space-between;

  .item {
    flex-basis: 25%;

    .number {
      color: $accent-color;
      font-size: 70px;
    }

    .description {
      color: $primary-color-opacity70;
    }
  }
}
