@import "src/styles/variables.scss";

.text {
  font-size: 30px;
}

.wrapper {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  justify-content: space-between;

  .item {
    flex-basis: 25%;

    .number {
      color: $accent-color;
      font-size: 70px;
    }

    .description {
      color: $primary-color-opacity70;
    }
  }
}

@media (max-width: 1024px) {
  .text {
    font-size: 25px;
  }

  .wrapper {
    flex-wrap: wrap;

    .item {
      flex-basis: 47%;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    gap: 30px;
  }
}
